<div>
    <ul class="list-unstyled footerLinks mb-0" style="line-height:35px;">
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
    </ul>
</div>